* {
  box-sizing: border-box;
}
.details__hidden {
  display: none;
}
.contatcApp__wrapper {
  margin: 0 !important;
}
td,
p,
span {
  font-family: "Open Sans", sans-serif;
}
textarea,
input,
:focus {
  outline-color: transparent;
  outline-style: none;
  outline: none;
}

header {
  background: #0e3e6e;
  color: white;
  min-height: 90px;
  padding: 0 20px;
  border-bottom: 10px solid #182028;
  display: flex;
  justify-content: space-between;
}
header h1 {
  margin: 0;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: normal;
  line-height: 80px;
  float: left;
  position: relative;
  padding-left: 80px;
}
header h1::before {
  display: block;
  content: "";
  width: 126px;
  height: 66px;
  background: url(http://localhost:3000/static/media/crest.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 10px;
  background-size: contain;
  top: 8px;
}
header button {
  margin: 25px 0 0 10px;
  text-transform: uppercase;
  border: none;
  background: #b8bb16;
  border-radius: 2px;
  height: 30px;
  padding: 5px 20px 3px;
}
header select,
input[type="text"] {
  margin: 25px 0 0 10px;
  text-transform: uppercase;
  border: none;
  background: #c5b7b5;
  border-radius: 2px;
  height: 30px;
  padding: 5px 20px 3px;
}
header button {
  margin: 25px 0 0 10px;
  text-transform: uppercase;
  border: none;
  background: #bb1616;
  border-radius: 2px;
  height: 30px;
  padding: 5px 20px 3px;
  color: #fff;
}

::-webkit-input-placeholder {
  color: #000;
}
::-moz-placeholder {
  color: #000;
}
:-ms-input-placeholder {
  color: #000;
}

div#tiles {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.thumbnail {
  background: #f0ebeb;
  width: 370px;
  text-align: center;
  margin: 0 5px 10px;
  border: 2px solid #ddd;
  cursor: pointer;
  transition: all 0.2s ease;
  height: -moz-fit-content;
  height: fit-content;
  box-shadow: 5px 5px 5px #ccc;
}
.thumbnail:hover,
.thumbnail:focus {
  background: #ededed;
  border-color: #f39c12;
}
.thumbnail .pic {
  background-color: #fff;
  padding: 10px;
}
.pic img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top center;
}
.details {
  padding: 10px;
}
.details__nat {
  display: flex;
  align-items: center;
  justify-content: center;
}
.details__nat img {
  width: 30px;
}
.details_phone,
.details_email {
  display: flex;
  gap: 10px;
}
.postTitle {
  font-weight: 600;
  padding: 15px 0;
}
span {
  font-size: 12pt;
  line-height: 1.5em;
}

#list {
  font-size: 14px;
}
#list table {
  width: 100%;
}
#list thead tr th {
  background: #2c3e50;
  color: #ccc;
  padding: 0 0 10px;
  vertical-align: middle;
  text-align: center;
}

#list tr td {
  vertical-align: middle;
  text-align: center;
  padding-bottom: 5px;
  font-size: 14px;
}
#list tr:nth-child(odd) {
  background: #ededed;
}

div#list .pic {
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  width: 60px;
  height: 60px;
}

/* Alphabet */

.AlphabetNav {
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-flow: wrap row;
  padding: 0.5rem;
  background: #c3c3d3;
}

.AlphabetNav a {
  display: flex;
  justify-content: center;
  padding: 0.5em;
  border-radius: 8px;
  font-size: 1.2em;
  line-height: 1;
  font-weight: 500;
  text-decoration: none;
  color: #383535;
}

.AlphabetNav a:hover,
.pagination button:hover {
  background: #ddd;
  color: #444;
}

.AlphabetNav .active,
.pagination button.active {
  background: #f46353;
  color: white;
}

/* pagination */

.pagination {
  bottom: 0;
  right: 0;
  width: 100%;
  display: flex;
  align-items: flex-start;
  position: fixed;
  bottom: 0;
  flex-flow: wrap row;
  padding: 0.5rem;
  background: #c3c3d3;
}

.pagination button {
  border: 0;
  background-color: #c3c3d3;
  padding: 0.5em;
  border-radius: 8px;
  font-size: 1.2em;
  line-height: 1;
  font-weight: 500;
  color: #383535;
}

.pagination button:first-child,
.pagination button:last-child {
  margin: 0;
}
.pagination button .active {
  background: #f46353;
  color: white;
}

@media screen and (max-width: 631px) {
  header h1 {
    display: none;
  }
  .AlphabetNav {
    justify-content: flex-start;
  }
  button.btn.js-tile {
    display: none;
  }
}
